<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://security.utexas.edu/sites/default/files/SERVICES%402x.png">
    </a>
    <h1>Compile-time Information Flow Checking For Java</h1>
    <p>The tool checks if a Java file contains information flow breaches according to <a href="https://en.wikipedia.org/wiki/Bell%E2%80%93LaPadula_model">BLP model</a> </p>

    <label class="btn btn-lg btn-default btn-file inputWrapper">
      Browse <input type="file" id="fileUpload" style="display: none;">
    </label>
    <a type="button" id="testExample" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download"></span> Use Test file example</a>
    <p><a href="https://github.com/moneernaser/inflormation_flow_checker/blob/master/src/main/java/com/example/process/BankAccount.java">View Test file (BankAccount.java)</a> </p>
  </div>
</div>
<div class="container">


  <div id="variables_list"></div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>Click "Select Java file", select a Java file from the pop-up window and click "ok".</li>

        <li>The application parses the source code, extracts variables and displays them.</li>
        <li>Select access control level for each variable. Click "submit"</li>
      </ul>
    </div>

  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     This is an assignment solution for the <a href="http://www.openu.ac.il/courses/22923.htm">Computer Security (22923)</a> course in the <a href="http://www.openu.ac.il/">Open University</a> .
   </div>
</div>

</body>
</html>
